body {
    background-color: #75cfb8;
    width: 100%;
  height: 100vh;
  margin:0 auto;

    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    grid-template-rows: 1fr 3fr 1fr;

}

.hidden {
    display: none; 
}

.showing {
    display: block;
}

/*--------------------------------------------*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.header-clock {
    color:  #f0e5d8;
}

.header-weather {
    color: #ffc478;
    margin-top: -20px;
}

/*--------------------------------------------*/
.content__flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-style {
    border: solid;
    background-color: #f0e5d8;
    border-radius: 12px;

    height: 90%;
}

.content-profile {
    width: 30%;

    display: flex; 
    flex-direction: column;
}

.content-profile-picblock {
    width: 100%;
    display: flex;
    justify-content: center;
    
    background-color: skyblue;
   
}

.content-profile-picblock-pic {
    width: 30vh; 
    height: 30vh; 
    margin: 5px;

    background-image: url('images/default.jpg');
    background-size: 100%;
    border-radius: 15vh; 


    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.content-profile-content {
    border: dashed;
}

.content-profile-form {

}

.content-profile-greeting {

}

.content-todolist{
    width: 60%;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;

}

.content-todolist-today, .content-todolist-later {
}

.content-todolist-header {
    border: dashed;
}

.content-todolist-content {
    border: dashed;
    width: 100%;
}


/*--------------------------------------------*/
.footer {
    display: flex; 
    justify-content: center;
    align-items: center;
}


.topBlock {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f0e5d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-clock {
    font-size: 23px;
}

/*중간 block*/
.mainBlock {
    display: grid;
    background-color: #f0e5d8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    height: 60vh;
}

/*grid*/
.toDoGrid {
    margin: 10px 20px 20px;
    display: grid; 

    background-color: #f0e5d8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

    grid-template-columns: repeat(3, minmax(max-content, auto)); 
    grid-template-rows: min-content minmax(max-content, 50vh);
    grid-auto-rows: auto;

}

.gridCell {
    display: flex; 
    justify-content: center;
    font-size: 15px;
    border-radius: 10px;
}

.header {
    color:#75cfb8;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.js-weather {
    color: #ffc478;
}

/*grid-profile*/
.profile {
    display: flex; 
    margin: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePic {
    cursor: pointer;
    width: 26vh; 
    height: 26vh; 
    background-image: url('images/default.jpg');
    background-size: 100%;

    border-radius: 13vh;
    background-color: skyblue;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

input {
    height: 30px;  
}

.greetingForm {
    margin-top: 30px;
}

.greeting {
    font-size: 25px;
    color: hsl(0, 0%, 20%);
}

.progressBar {
    border: solid hsl(0, 0%, 40%);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;

    margin-top: -15px;
    height: 8px;
    width: 60%;
    background-color:whitesmoke;
}

.progress {
    height: 8px;
    width: 0%;
    background-color: #ffc478;
    
}

/*grid-toDoList*/
.toDoList {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color:whitesmoke;
    color: hsl(0, 0%, 20%);

    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.toDos {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-left: 10px;
    margin-bottom: 5px;
}

.toDosDone {
    text-decoration: line-through;
}

button {
    cursor: pointer;
    text-align: center;
    border: 0;

}

/*마지막 block*/
/*form*/
.bottomBlock {
    height: 15vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;

}

.toDoInput { 
  height: 25px;
  width: 300px;
  margin-right: 20px;
  
}

.formBtn {
  height: 30px;
  width: 60px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 0;

  background-color: #f0e5d8;
  color:hsl(0, 0%, 40%);
}

.formBtn:nth-child(2) {
    background-color: #ffc478;
}